<div class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="content">
        <p class="title is-4 has-text-centered">Iniciar sesión</p>
      </div>
      <div class="columns is-multiline">
        <div
          class="avatar-container column is-4-desktop is-6-tablet is-10-mobile is-offset-4-desktop is-offset-3-tablet is-offset-1-mobile icon"
        >
          <img src="../../../assets/image/user.png" width="200"/>
        </div>
        <div
          class="column is-4-desktop is-6-tablet is-10-mobile is-offset-4-desktop is-offset-3-tablet is-offset-1-mobile"
        >
          <form
            (ngSubmit)="onSubmit()"
            #customerForm="ngForm"
            autocomplete="off"
            novalidate
          >
            <app-input
              [label]="'Usuario'"
              [isType]="'text'"
              [isRequired]="true"
              [value]="user"
              [placeHolder]="'Ingrese usuario'"
              (input)="updateUser($event.target.value)"
              [isDanger]="userIsDanger()"
              [error]="userError"
              [isSuccess]="userIsSuccess()"
              [icon]="'far fa-user'"
            ></app-input>
            <app-input
              [label]="'contraseña'"
              [isType]="'password'"
              [isRequired]="true"
              [value]="password"
              [placeHolder]="'Ingrese contraseña'"
              (input)="updatePassword($event.target.value)"
              [isDanger]="passwordIsDanger()"
              [error]="passwordError"
              [isSuccess]="passwordIsSuccess()"
              [icon]="'fas fa-unlock-alt'"
            ></app-input>
            <input type="checkbox"/><label>Recordar?</label>
            <button
              type="submit"
              mat-button
              class="button is-primary is-medium is-fullwidth"
            >
              Entrar
            </button>
          </form>
          <div class="has-text-centered">
            <a [routerLink]="['/forgot']">Recuperar contraseña?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
