.container-nav {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.navbar-left {
  background-color: #232322;
  width: 185px;
  overflow: hidden;
  z-index: 30;
  top: 0%;
  bottom: 0%;
  position: fixed;
}
.container-box {
  position: relative;
}
@media (min-width: 1024) {
  .show-navbar {
    display: block;
  }
}
@media (max-width: 1023px) {
  .show-navbar {
    display: none;
  }
}
